{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row vh-100">
  <div class="col-md-7 lightblue-bg">
    <h1 class="login-title ghostwhite-tx">Welcome to GPU bytes!</h1>
  </div>
  <div class="col-md-5">
    <h2>{% trans "Sign In" %}</h2>

    <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</div>

{% endblock %}