{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- Account page for login -->
<div class="row">
  <!-- Used inline style here to hide my Cloudinary information for security reasons -->
  <!-- Photo by Dave Morgan: https://www.pexels.com/photo/computer-exhaust-fan-2643596/ -->
  <div class="col-md-7 account-image" style="background-image: url('{% static 'media/LoginImage.webp' %}')"></div>
  <div class="col-md-5 d-flex flex-column">
    <div class="pl-4 account-text">
      <h2 class="my-3">Welcome to GPU Bytes!</h2>
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction btn btn-outline-dark" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}