{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-7 account-image"></div>
  <div class="col-md-5 d-flex flex-column">
    <div class="pl-4 account-text">
      <h2 class="my-3">Leaving so soon?</h2>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="d-flex">
          <button type="submit" class="signout-btn btn btn-outline-success">{% trans 'YES' %}</button>
          <button type="button" class="signout-btn btn btn-outline-danger"><a class="card-link" href="{% url 'home' %}">{% trans 'NO' %}</a></button>  
        </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}
