{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<!-- Account page for logout -->
<div class="row">
  <!-- Used inline style here to hide my Cloudinary information for security reasons -->
  <!-- Photo by Dave Morgan: https://www.pexels.com/photo/computer-exhaust-fan-2643596/ -->
  <div class="col-md-7 account-image" style="background-image: url('{% static 'media/LoginImage.webp' %}')"></div>
  <div class="col-md-5 d-flex flex-column">
    <div class="pl-4 account-text">
      <h2 class="my-3">Leaving so soon?</h2>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-flex">
          <button type="submit" class="signout-btn btn btn-outline-success">{% trans 'YES' %}</button>
          <a href="{% url 'home' %}" class="signout-btn btn btn-outline-danger">{% trans 'NO' %}</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}