@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

body {
    background-color: #fafaff;
}

.hide {
    display: none;
}

@keyframes rotate-fan {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.fan-spin:hover img {
    animation: rotate-fan 2s linear 2;
    -webkit-animation: rotate-fan 2s linear 2; 
}

/* fonts */

.ssp-400 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.q-400 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.fs-30 {
    font-size: 30px;
}

.fs-20 {
    font-size: 20px;
}

/* background colors */

.darkblue-bg {
    background-color: #0068b5
}

.lightblue-bg {
    background-color: #00a3f6;
}

.green-bg {
    background-color: #76b900;
}

.red-bg {
    background-color: #bd0000;
}

.ghostwhite-bg {
    background-color: #fafaff;
}

/* text colors */

.darkblue-tx {
    color: #0068b5
}

.ghostwhite-tx {
    color: #fafaff;
}

.gray-tx {
    color: #777777;
}

.red-tx {
    color: #bd0000;;
}

/* navigation bar */

.navbar {
    padding: 10px;
    border-bottom: 1px solid #77777725;
}

.navbar-brand {
    color: #000;
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #bd0000;
}

.nav-item {
    letter-spacing: 1px;
    padding: 0 10px;
}

.nav-link {
    color: #777777;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #bd0000;
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-bottom: none;
}

.nav-item:first-child .nav-link {
    padding-left: 30px;
}

.active {
    color: #000;
    font-weight: bold;
}

/* page navigation */

.page-ul, .page-li {
    display: flex;
}

.page-li a {
    margin: auto;
}

.btn-page a {
    color: #000;
    font-weight: bold;
    background-color: transparent;
    font-size: 20px;
    border: none;
}

.btn-page a:hover {
    color: #bd0000;
    background-color: transparent;
}

/* blog post card */

.image-container img {
    border: 2px solid #777777;
    border-radius: .90rem;
}

.card {
    background-color: transparent;
    border: none;
    border-radius: .90rem;
}

.card-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
}

.card-parent:not(:last-child) {
    border-right: 1px solid #77777725;
}

.card-border:not(:first-child) {
    border-top: 1px solid #77777725;
}

.card-parent:hover .image-container img {
    opacity: 0.5;
}

.card-parent:hover .post-link *,
.card-parent:hover .card-text {
    color: #bd0000;
}

.post-link:hover {
    text-decoration: none;
}

.card-text {
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
}

/* post detail */

.masthead {
    margin-top: 10px;
    width: 100%;
}

.masthead-text {
    color: #000;
}

.masthead-image {
    overflow: hidden;
    width: 100%;
    height: 40rem;
}

.btn-like {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0;
    height: 26px;
    width: 26px;
}

.btn-like i {
    font-size: 15px;
}

.btn-like:hover {
    color: #bd0000;
    border: 1px solid #bd0000;
    border-radius: .9rem;
}

/* login template */

.login-title {
    font-family: 'Quicksand', sans-serif;
    margin-top: 10rem;
    text-align: center;
    font-weight: 500;
    font-size: 60px;
}
    

@media screen and (max-width: 1000px) {

    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
        border-bottom: 1px solid #77777725;
    }

    .nav-item:first-child .nav-link {
        padding-left: 0px;
    }

}

@media screen and (max-width: 768px) {

    .card-parent:not(:last-child) {
        border-bottom: 1px solid #77777725;
    }

}
