{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- 403 error page -->
<div class="container">
    <div class="card-container">
        <div class="col-12 text-center q-400 error-parent">
            <h1 class="error-title">403</h1>
            <h2 class="error-text"><i class="fa-solid fa-lock"></i> Sorry. You don't have permission to access this.
            </h2>
            <br>
            <a class="btn btn-outline-dark error-btn" href="{% url 'home' %}">Return Home</a>
        </div>
    </div>
</div>

{% endblock content %}