{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- 500 error page -->
<div class="container">
    <div class="card-container">
        <div class="col-12 text-center q-400 error-parent">
            <h1 class="error-title">500</h1>
            <h2 class="error-text"><i class="fa-solid fa-bug"></i> Internal Server Error!<br>Something Went Wrong.</h2>
            <br>
            <a class="btn btn-outline-dark error-btn" href="{% url 'home' %}">Return Home</a>
        </div>
    </div>
</div>

{% endblock content %}