{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Confirm delete post -->
<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}
        <div class="col-12 d-flex align-items-center justify-content-center flex-wrap del-parent">
            <p class="q-400 fs-30 my-5 del-p">Are you sure you want to delete <strong>{{ post.title }}</strong> by
                <strong>{{ post.author }}</strong> ?</p>
            <button aria-label="Confirmation to delete the post" type="submit"
                class="mx-2 px-5 btn btn-outline-success my-2 del-btn del-btn-y">YES</button>
            <button aria-label="Return to home" type="button"
                class="mx-2 px-5 btn btn-outline-danger my-2 del-btn del-btn-n"><a class=""
                    href="{% url 'home' %}">NO</a></button>
        </div>
    </form>


</div>
{%endblock%}