{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 left">
            <div>
                <h2 class="d-inline">Filter by...</h2>
                <button type="button" class="btn btn-outline-dark filter-btn"><a class="" href="{% url 'gpu' %}">View All</a></button>
                <button type="button" class="btn btn-outline-dark filter-btn"><a class="" href="{% url 'amd' %}">AMD</a></button>
                <button type="button" class="btn btn-outline-dark filter-btn"><a class="" href="{% url 'nvidia' %}">NVIDIA</a></button>
                {% if user.is_superuser %}
                <button type="button" class="btn btn-outline-danger filter-btn"><a class="" href="{% url 'gpu_admin' %}">ADMIN</a></button>
                {% endif %}
            </div>
            <div class="row card-border">
                {% for post in gpu_list %}
                <div class="col-12 col-md-3 card-parent">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if post.status == 0 %}
                                <a href="{% url 'gpu_detail' post.slug %}"><img class="card-img-top"
                                    src=" {% static 'media/Draft.jpg' %}"></a>
                                {% elif "placeholder" in post.image.url %}
                                <a href="{% url 'gpu_detail' post.slug %}"><img class="card-img-top"
                                        src=" {% static 'media/Placeholder.jpg' %}"></a>
                                {% else %}
                                <a href="{% url 'gpu_detail' post.slug %}"><img class="card-img-top"
                                        src=" {{ post.image.url }}"></a>
                                {% endif %}
                                {% if user.is_superuser %}
                                <div class="d-flex justify-content-center mt-2">
                                    <button type="button" class="btn btn-outline-success edit-btn mr-2"><a class="edit-btn" href="{% url 'update_gpu' post.slug %}"><i class="mr-2 gray-bg fa-solid fa-pencil"></i>EDIT</a></button>
                                    <button type="button" class="btn btn-outline-danger edit-btn ml-2"><a class="edit-btn-r" href="{% url 'delete_gpu' post.slug %}"><i class="mr-2 gray-bg fa-solid fa-trash-can"></i>DELETE</a></button>
                                </div>
                                {% endif %}
                            </div>

                            <a href="{% url 'gpu_detail' post.slug %}" class="post-link">
                                <h2 class="card-title mt-2">{{ post.name }}</h2>
                                <p class="card-text">Brand: {{ post.brand }}</p>
                            </a>
                            <p class="card-text">{{ post.created_on}}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row card-border">
                {% endif %}
                {% empty %}
                {% if user.is_superuser %}
                <p>Admin Text</p>
                {% endif %}
                <p>Text</p>
                {% endfor %}
                <div class="col-12 col-md-3 card-parent">
                    <div class="card mb-4">
                        <div class="card-body">
                        {% if user.is_superuser %}
                        <button type="button"><a class="" href="{% url 'add_gpu' %}">Add a GPU</a></button>
                        {% endif %}
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-3 fan-spin">
            {% if page_obj.has_previous %}
            <li class="page-li btn-page"><a href="?page={{ page_obj.previous_page_number }}"
                    class="page-link q-400">&laquo; PREV </a></li>
            {% endif %}
            <img src="{% static 'media/Fan.png' %}" width="50" height="50" class="" alt="">
            {% if page_obj.has_next %}
            <li class="page-li btn-page"><a href="?page={{ page_obj.next_page_number }}" class="page-link q-400"> NEXT
                    &raquo; </a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}