{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 left">
            <div class="mt-2">
                <button type="button" class="btn btn-outline-dark filter-btn" data-toggle="dropdown" aria-expanded="false">
                  Sort By <i class="pl-2 fa-solid fa-chevron-down"></i>
                </button>
                <div class="dropdown-menu filter-menu">
                  <a class="dropdown-item" href="{% url 'gpu' %}">View All</a>
                  <a class="dropdown-item" href="{% url 'amd' %}">AMD</a>
                  <a class="dropdown-item" href="{% url 'nvidia' %}">NVIDIA</a>
                  {% if user.is_superuser %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item filter-admin" href="{% url 'gpu_admin' %}">ADMIN</a>
                  {% endif %}
                </div>
              </div>
            <!-- <div class="mt-2">
                <p class="d-inline">Sort by:</p>
                <button type="button" class="btn btn-outline-dark filter-btn"><a class="" href="{% url 'gpu' %}">View All</a></button>
                <button type="button" class="btn btn-outline-dark filter-btn"><a class="" href="{% url 'amd' %}">AMD</a></button>
                <button type="button" class="btn btn-outline-dark filter-btn"><a class="" href="{% url 'nvidia' %}">NVIDIA</a></button>
                {% if user.is_superuser %}
                <button type="button" class="btn btn-outline-danger filter-btn"><a class="" href="{% url 'gpu_admin' %}">ADMIN</a></button>
                {% endif %}
            </div> -->
            <div class="row card-border mt-2">
                {% for post in gpu_list %}
                <div class="col-12 col-md-4 col-lg-3 card-parent">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'gpu_detail' post.slug %}" class="post-link">
                                {% if post.brand == 0 %}
                                <p class="card-text card-brand mb-0">AMD</p>
                                {% elif post.brand == 1 %}
                                <p class="card-text card-brand mb-0">NVIDIA</p>
                                {% endif %}
                            </a>
                            <div class="image-container">
                                {% if "placeholder" in post.image.url %}
                                <a href="{% url 'gpu_detail' post.slug %}"><img class="card-img-top"
                                        src=" {% static 'media/Placeholder.jpg' %}"></a>
                                {% else %}
                                <a href="{% url 'gpu_detail' post.slug %}"><img class="card-img-top"
                                        src=" {{ post.image.url }}"></a>
                                {% endif %}
                                {% if post.status == 0 %}
                                <div class="card-img-overlay">
                                    <a href="{% url 'gpu_detail' post.slug %}"><img class="card-img-top"
                                        src=" {% static 'media/Draft.jpg' %}"></a> 
                                </div>
                                                              
                                {% endif %}
                            </div>
                            <h3 class="card-title mt-2">{{ post.name }}</h3>
                            <p class="card-text">Released on {{ post.date_released }}</p>
                            {% if user.is_superuser %}
                            <div class="d-flex justify-content-center mt-2">
                                <button type="button" class="btn btn-outline-success edit-btn mr-2"><a class="" href="{% url 'update_gpu' post.slug %}"><i class="mr-2 gray-bg fa-solid fa-pencil"></i>EDIT</a></button>
                                <button type="button" class="btn btn-outline-danger edit-btn ml-2"><a class="" href="{% url 'delete_gpu' post.slug %}"><i class="mr-2 gray-bg fa-solid fa-trash-can"></i>DELETE</a></button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row card-border mt-3">
                {% endif %}
                {% if forloop.last %}
                <div class="col-12 col-md-4 col-lg-3 px-0 card-parent d-flex align-items-center justify-content-center">
                    <div class="card mb-4">
                        <div class="card-body">
                        {% if user.is_superuser %}
                        <button type="button" class="btn btn-outline-success add-btn"><a class="" href="{% url 'add_gpu' %}"><i class="fa-solid fa-plus"></i></a></button>
                        {% endif %}
                    </div>
                    </div>
                </div>
                {% endif %}
                {% empty %}
                {% if user.is_superuser %}
                <div class="col-12 d-flex align-items-center justify-content-center flex-column">
                    <p class="empty-gpu my-5">No GPUs Found</p>
                    <button type="button" class="btn btn-outline-success add-btn"><a class="" href="{% url 'add_gpu' %}"><i class="fa-solid fa-plus"></i></a></button>
                </div>
                {% else %}
                <p>Text</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>



    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-3 fan-spin">
            {% if page_obj.has_previous %}
            <li class="page-li btn-page"><a href="?page={{ page_obj.previous_page_number }}"
                    class="page-link q-400">&laquo; PREV </a></li>
            {% endif %}
            <img src="{% static 'media/Fan.png' %}" width="50" height="50" class="" alt="">
            {% if page_obj.has_next %}
            <li class="page-li btn-page"><a href="?page={{ page_obj.next_page_number }}" class="page-link q-400"> NEXT
                    &raquo; </a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}