{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-12 masthead-text">
                <h1 class="post-title">
                    {{ gpu.get_gpu_brand_display }}
                    {{ gpu.name }}</h1>
            </div>
            <div class="col-md-12 masthead-image">
                {% if "placeholder" in gpu.image.url %}
                <img class="card-img-top" alt="A comptuer graphics processing chip."
                    src="{% static 'media/Placeholder.webp' %}" />
                {% else %}
                <img class="card-img-top" alt="A picture of the {{gpu.name}} chip." src=" {{ gpu.image.url }}" />
                {% endif %}
            </div>
            <p class="post-subtitle pl-3 pt-3">
                Created on: {{ gpu.created_on }}<br>Updated on: {{ gpu.updated_on }}</p>
            <div class="gpu-body mx-3">
                {% if gpu.content %}
                <p class="gpu-title">GPU Information:</p>
                <p class="gpu-text">{{ gpu.content | linebreaks | safe }}</p>
                {% endif %}
                {% if gpu.memory_size %}
                <p class="gpu-title">Memory Size:</p>
                <p class="gpu-text">{{ gpu.get_memory_size_display }}</p>
                {% endif %}
                {% if gpu.memory_type %}
                <p class="gpu-title">Memory Type:</p>
                <p class="gpu-text">{{ gpu.memory_type }}</p>
                {% endif %}
                {% if gpu.base_clock %}
                <p class="gpu-title">Base Clock:</p>
                <p class="gpu-text">{{ gpu.base_clock }} MHz</p>
                {% endif %}
                {% if gpu.boost_clock %}
                <p class="gpu-title">Boost Clock:</p>
                <p class="gpu-text">{{ gpu.boost_clock }} MHz</p>
                {% endif %}
                {% if gpu.specs %}
                <p class="gpu-title">Other Specs:</p>
                <p class="gpu-text">{{ gpu.specs | linebreaks | safe }}</p>
                {% endif %}
                {% if gpu.sourced_from %}
                <p class="gpu-text gpu-link">Content and image sourced from <a href="{{ gpu.sourced_from }}" target="_blank">{{ gpu.sourced_from }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>






{% endblock content %}