{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- GPU blog post -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4 card-parent">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                {% load static %}
                                <a href="#"><img class="card-img-top" src=" {% static 'media/Placeholder.jpg' %}"></a>
                                {% else %}
                                <a href="#"><img class="card-img-top" src=" {{ post.featured_image.url }}"></a>
                                {% endif %}
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title mt-2">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                                <p class="card-text">Author: {{ post.author }}</p>
                            </a>
                            <p class="card-text text-muted">{{ post.created_on}} <i class="fa-solid fa-fire-flame-curved mx-1 red-tx"></i>
                                {{ post.number_of_likes }} <i class="fa-regular fa-comments mx-2"></i>0</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}

<!-- Photo by Sergei Starostin: https://www.pexels.com/photo/graphics-card-in-close-up-photography-6704945/ -->